{% extends "index.twig" %}

{% block content %}
    <h1>Liste des Articles</h1>
    
    <ul>
        {% for c in articles %}
            <li><p>{{ c.titre }}, {{ c.cree }} par {{ c.auteur.nom }}</p></li>
        {% endfor %}
    </ul>
{% endblock %}