{% extends "index.twig" %}

{% block content %}
    <h1>Les Catégories</h1>
    
    <ul>
        {% for c in categories %}
            <li><a href="{{ url_for('articles_by_cat', { 'id': c.id }) }}">{{ c.titre }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}