<nav>
    <ul style="list-style:none; display:flex; gap:1rem; padding:0; margin:0; align-items:center;";>
            <li><a href="{{ url_for('home') }}" class="nav-link">home</a></li>
            {% if user %}
            <li><a href="{{ url_for('cate_cree_get') }}" class="nav-link">cree ta categorie</a></li>
            {% endif %}
    </ul>
</nav>
