<nav>
    <ul style="list-style:none; display:flex; gap:1rem; padding:0; margin:0; align-items:center;";>
            <li><a href="{{ url_for('deco') }}" class="nav-link">se déconnecter</a></li>
    </ul>
</nav>
